.purple {
	color: hsl(275, 100%, 50%);
}

.orange {
	color: hsl(45, 100%, 50%);
}

.red {
	color: hsl(7, 100%, 50%);
}

.white {
	color: hsl(0, 0%, 100%);
}

.blue {
	color: hsl(207, 100%, 50%);
}
